:root {
    --mainColor: #FCA100;
  }

*{
    margin: 0;
    padding: 0;
    color:white;
}
body{
    background-color: black;
}

.heading {
    font-family: 'Montserrat', sans-serif;
    font-size: 3em;
    color: white;
    display: flex;
    height: 100vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.heading-line1 span {
    color: var(--mainColor);
}

.about-link{
    text-decoration:none;
    margin-top: .8em;
    color: var(--mainColor);
    border: var(--mainColor) solid .1em;
    padding: .2em;
    transform: translateY(0);
    transition: transform 0.1s;  
    border-radius: .2em;
}

.about-link:hover{
      transform: translateY(-10px); 
      background-color: var(--mainColor);
      color: black;

}


.cat {
    position: fixed;
    top: 12%;
    right: 26%;
    width: 0px;
    height: 0px;
    background-color: #ccc;
    z-index: 2;
    opacity: 1;
    transition: opacity 1s;
}

body.scrolled .cat {
  /* Set the opacity to 0 (fully transparent) */
  opacity: 0;
}

  .heading-line1 {
    position: relative;
    left: -100%;
    animation: slideInLeft 0.5s ease-out forwards;
  }
  
  @keyframes slideInLeft {
    from {
      left: -100%;
    }
    to {
      left: 0;
    }
  }

  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
  .heading-line2, .about-link {
    opacity: 0;
    transition: all 0.5s ease-in-out;
    animation: fadeIn 1s linear 1s forwards;
    z-index: 5;
  }




  nav {
    display: flex;
    width: 100vw;
    justify-content: space-evenly;
    background-color: #333;
    color: #fff;
    border: var(--mainColor) 2px solid;
  }
  
  nav ul {
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    width: 100%;
  }
  
  nav li {
    margin: 0 10px;
  }
  
  nav a {
    color: #fff;
    text-decoration: none;
    font-size: 2em;
  }
  
  nav a:hover {
    color: #ccc;
  }
  



#eyes, #eyes img {
  position: absolute;
}







.title {
  background: black;
  display: block;
  padding: 20px;
  text-decoration: none;
  color: white;
  text-align: center;
  color: white;
  text-transform: uppercase;
  font-family: 'Montserrat', cursive;
  font-weight: 100;
  position: relative;
}

title::before {
  content: "";
  position: absolute;
  left: 50%;
  top: -50px;
  width: 600px;
  margin-left: -300px;
  margin-top: -220px;
  height: 600px;
  background: radial-gradient(50% 50%, ellipse closest-side, #444, black);
  z-index: -1;
}




.about-me, .projects, .contact-me {
  height: 100vh;
  opacity: 0;
  transition: opacity 1s;
}

.fade-in  {
  opacity: 1;
}


footer{
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 15vh;
  background-color: #282828;
}




/* 
media-query
media-query
media-query
media-query
media-query
media-query
media-query
 */




  @media (max-width: 767px) {
    .heading-line1 {
      font-size: 10px;
    }
  }